{% include 'index.html' %}

<div class="col-md-8 offset-md-2">     
      
    <b>Услуги</b>
                                                                      </br>
      Проектирование, монтаж, пуско-наладка и техническое обслуживание внутренних и наружных инженерных сетей:</br>
                                                                      </br>
      Капитальный ремонт зданий и сооружений</br>
                                                                     </br>
      1)Слаботочные системы </br>
      -Пожарная сигнализация </br>
      -Система оповещения и управления эвакуацией </br>
      -Охранная сигнализация </br>
      -Видеонаблюдение </br>
      -Система контроля и управления доступом </br>
      -Телефония </br>
      -Структурированная кабельная сеть </br>
      2)Пожаротушение (водяное, порошковое, газовое) </br>
      3)Электроснабжение и электроосвещение </br>
      4)Водопровод и канализация </br>
      5)Отопление, вентиляция и кондиционирование </br>
      6)Огнезащитная обработка конструкций </br>
      7)Расчёт категорий по взрывопожарной и пожарной опасности </br>
      8)Периметровая сигнализация</br>
                                                                       </br>
      Выполнение испытаний и измерений электрооборудования и электроустановок (электролаборатория)</br>
</div>