{% include 'index.html' %}
<div class="col-md-8 offset-md-2">
      
    <b>Контакты</b>
                                       </br>
      ООО «М.О.П.С.»
                                        </br>
      164500, Архангельская обл., Северодвинск, Архангельское шоссе, 65
                                         </br>
      Тел/факс: <u><b>+7 (8184) 55-17-72</b></u>
                                        </br>
      Моб.: <b><u>+7-911-680-69-65</u></b>
                                        </br>
      e-mail: <b><u>ooo_mops@mail.ru</u></b>
                                          </br>
      Генеральный директор Матвиенко Иван Сергеевич
                                              </br>
      <b>Реквизиты</b></br>
      Общество с ограниченной ответственностью «Монтаж охранно-пожарной сигнализации» (ООО «М.О.П.С.»)</br>
      </br>
      Генеральный директор Матвиенко Иван Сергеевич, действует на основании Устава
      </br>
      Юридический адрес: 164500, г. Северодвинск, Архангельское шоссе, 65, 2 этаж
      </br>
      ИНН/КПП 2902051945/290201001
      </br>
      ОГРН 1062902006804
      </br>
      Р/сч 40702810704260013165
      </br>
      Получатель: ООО "Монтаж охранно-пожарной сигнализации"
      </br>
      Банк получателя: Архангельское отделение N 8637 ПАО СБЕРБАНК
      </br>
      Корр/счет 30101810100000000601
      </br>
      БИК 041117601
      </br>
      ОКПО 79072899
      </br>
      ОКВЭД 45.3</div>