<nav
	class="navbar navbar-expand-lg bg-dark center-block"
	style="font-family: Comfortaa; width: 1920px"
>
	<div class="container-fluid">
		<nav class="navbar bg-dark">
			<div class="container">
				<a class="navbar-brand text-light" href=""> М.О.П.С. </a>
			</div>
		</nav>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active text-white" aria-current="page" href="/"
						>Услуги</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/lic/">Лицензии</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/contacts/">Контакты</a>
				</li>
				{% if session['loggedin'] != True %}
				<li class="nav-item">
					<a class="nav-link text-white" href="/register/">Регистрация</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/login/">Вход</a>
				</li>
				{% endif %} {% if session['loggedin'] and session['roleId'] == 1 %}

				<li class="nav-item">
					<a class="nav-link text-white" href="/requestspost/">Админ</a>
				</li>
				{% endif %} {% if session['loggedin'] and session['roleId'] == 2 %}

				<li class="nav-item">
					<a class="nav-link text-white" href="/requestmaster/">Мастер</a>
				</li>

				{% endif %} {% if session['loggedin'] %}
				<li class="nav-item">
					<a class="nav-link text-white" href="/request/">Запрос</a>
				</li>
				{%endif%}
			</ul>
		</div>
	</div>
</nav>
