{% include "index.html" %}
<div class="col-md-8 offset-md-2">
<td>
            <img src="https://www.ooomops.ru/img/license/L1s.jpg" alt="123">
</td>
<td>
    <img scr='https://www.ooomops.ru/img/license/L2s.jpg' alt='123'>
</td>

Регистрационный номер лицензии: <u><b>29-06-2012-000221 (Л014-00101-29/00039221)</b></u></br>
    Деятельность по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений</br>
                        1) Монтаж, техническое обслуживание и ремонт систем пожаротушения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ</br>
                        2) Монтаж, техническое обслуживание и ремонт систем пожарной и охранно-пожарной сигнализации и их элементов, включая диспетчеризацию и проведение пусконаладочных работ</br>
                        3) Монтаж, техническое обслуживание и ремонт систем противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных работ</br>
                        4) Монтаж, техническое обслуживание и ремонт автоматических систем (элементов автоматических систем) противодымной вентиляции, включая диспетчеризацию и проведение пусконаладочных работ</br>
                        5) Монтаж, техническое обслуживание и ремонт противопожарных занавесов и завес, включая диспетчеризацию и проведение пусконаладочных работ</br>
                        6) Монтаж, техническое обслуживание и ремонт заполнений проемов в противопожарных преградах</br>
                        7) Выполнение работ по огнезащите материалов, изделий и конструкций</br>
                        8) Монтаж, техническое обслуживание и ремонт систем оповещения и эвакуации при пожаре и их элементов, включая диспетчеризацию и проведение пусконаладочных работ, в том числе фотолюминесцентных эвакуационных систем и их элементов</br>
                        9) Монтаж, техническое обслуживание и ремонт автоматических систем (элементов автоматических систем) передачи извещений о пожаре, включая диспетчеризацию и проведение пусконаладочных работ</br>
Свидетельство о регистрации электролаборатории 14-55/ЭЛ-19 от 30.04.2019</br>
<img src="https://www.ooomops.ru/img/license/el_s.jpg">
</div>