{% include 'index.html'%}
<div class="container text-center">
	<div class="col-md-8 offset-md-2">
		<h1>LOGIN</h1>
	</div>
</div>

<div class="container text-center">
	<div class="col-md-8 offset-md-2">
		<form method="POST" action="/login/">
			<div class="mb-3">
				<input type="text" name="username" placeholder="Username" required />
			</div>

			<div class="mb-3">
				<input
					type="password"
					name="password"
					placeholder="Password"
					required
				/>
			</div>

			<div>
				<input class="btn btn-primary" type="submit" />
			</div>
		</form>
	</div>
</div>
